In [68]:

state = 'CA' #input 
df_state = df[df['state'] == state]
selective = ['Selective private', 
             'Four-year for-profit',
       'Selective public',
       'Highly selective private',
       'Other elite schools (public and private)',
       'Highly selective public', 'Ivy Plus']
private = ['Two-year for-profit', 'Selective private',
 'Four-year for-profit',
       'Nonselective four-year private not-for-profit',
       'Highly selective private','Ivy Plus']

selective_list = []
private_list = []
for row in df_state['tier_name']:
    if row in selective:
        selective_list.append(1)
    else:
        selective_list.append(0)
df_state['selective'] = selective_list

for row in df_state['tier_name']:
    if row in private:
        private_list.append(1)
    else:
        private_list.append(0)
df_state['private'] = private_list

n_selective_schools = sum(df_state.selective)
n_graduate = len(df_state[df_state['iclevel'] == 3])
high_graduation_rate = len(df_state[df_state['grad_rate_150_p_2013'] >= .65])
n_private = sum(df_state.private)

<ipython-input-68-228bee9abfaf>:21: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-68-228bee9abfaf>:28: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# plotly 
import plotly.express as px

# dashboards
import jupyterlab_dash
import dash
import dash_core_components as dcc
import dash_html_components as html
import dash_table
from dash.dependencies import Input, Output
import dash_bootstrap_components as dbc
from datetime import date
from dash import html


viewer = jupyterlab_dash.AppViewer()


app = dash.Dash(__name__, external_stylesheets=[dbc.themes.BOOTSTRAP])


first_card = dbc.Card(
    dbc.CardBody(
        [
            html.H5(n_private, className="card-title"),
            html.P("Selective Schools in {}".format(state)),
        ]
    )
)


second_card = dbc.Card(
    dbc.CardBody(
        [
            html.H5(n_graduate, className="card-title"),
            html.P('Graduate Institutions in {}'.format(state) 
            ),
        ]
    )
)

third_card = dbc.Card(
    dbc.CardBody(
        [
            html.H5(n_private, className="card-title"),
            html.P('Private Schools in {}'.format(state)
            ),
        ]
    )
)

fourth_card = dbc.Card(
    dbc.CardBody(
        [
            html.H5(high_graduation_rate, className="card-title"),
            html.P('Schools with High Graduation Rates in {}'.format(state)
            ),
        ]
    )
)

app.layout = dbc.Row(
    [
        dbc.Col(first_card, width=3),
        dbc.Col(second_card, width=3),
        dbc.Col(third_card, width=3),
        dbc.Col(fourth_card, width=3),
    ]
)



# kpis = df.columns[1:]
# app.layout = html.Div([
#     dcc.Dropdown(id='kpi_dropdown',
#                  options=[{'label': kpi, 'value': kpi}
#                           for kpi in kpis]),
#     dcc.Graph(id='kpi_choropleth')
# ])

# @app.callback(
#     Output('kpi_choropleth', 'figure'),
#     Input('kpi_dropdown', 'value'))
# def update_figure(kpi):
#     fig = px.choropleth(df,
#                     locations='State_Code',
#                     color=kpi,
#                     color_continuous_scale='tropic',
#                     hover_name=df.index,
#                     locationmode='USA-states',
#                     title = 'Distribution of {} by State'.format(kpi),
#                     scope='usa')
#     return fig

# Uncomment the following two lines if using Jupyter Notebook
if __name__ == '__main__':
    app.run_server()

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [05/Dec/2021 22:00:37] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [05/Dec/2021 22:00:37] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [05/Dec/2021 22:00:37] "GET /_dash-dependencies HTTP/1.1" 200 -

In [12]:
import pandas as pd
df = pd.read_csv('mrc_table10.csv')
df.head()

,super_opeid,name,region,state,fips,cz,czname,cfips,county,zip,...,hisp_share_fall_2000,alien_share_fall_2000,pct_arthuman_2000,pct_business_2000,pct_health_2000,pct_multidisci_2000,pct_publicsocial_2000,pct_stem_2000,pct_socialscience_2000,pct_tradepersonal_2000
0,30955,ASA Institute Of Business & Computer Technology,1,NY,36,19400,New York,36047,Kings,11201,...,0.073324,0.071229,0.000000,6.603774,11.425576,0.000000,0.000000,81.970650,0.000000,0.000000
1,3537,Abilene Christian University,3,TX,48,32501,Abilene,48441,Taylor,79699,...,0.056724,0.039943,10.785619,22.503330,5.059920,9.720373,8.788282,11.318242,31.691078,0.133156
2,1541,Abraham Baldwin Agricultural College,3,GA,13,8503,Valdosta,13277,Tift,31793,...,0.016730,0.013688,0.000000,4.100228,12.072893,47.152618,6.378132,29.612757,0.000000,0.683371
3,7531,Academy Of Art University,4,CA,6,37800,San Francisco,6075,San Francisco,94105,...,0.205893,0.271817,96.091957,0.000000,0.000000,0.000000,0.000000,0.000000,3.908046,0.000000
4,1345,Adams State University,4,CO,8,34805,Alamosa,8003,Alamosa,81101,...,0.275481,0.002404,10.850440,24.046921,0.000000,33.431084,0.000000,13.489737,18.181818,0.000000

In [35]:
state = 'CA' #input 
df_state = df[df['state'] == state]
selective = ['Selective private', 
             'Four-year for-profit',
       'Selective public',
       'Highly selective private',
       'Other elite schools (public and private)',
       'Highly selective public', 'Ivy Plus']
private = ['Two-year for-profit', 'Selective private',
 'Four-year for-profit',
       'Nonselective four-year private not-for-profit',
       'Highly selective private','Ivy Plus']

selective_list = []
private_list = []
for row in df_state['tier_name']:
    if row in selective:
        selective_list.append(1)
    else:
        selective_list.append(0)
df_state['selective'] = selective_list

for row in df_state['tier_name']:
    if row in private:
        private_list.append(1)
    else:
        private_list.append(0)
df_state['private'] = private_list

n_selective_schools = sum(df_state.selective)
graduate = len(df_state[df_state['iclevel'] == 3])
high_graduation_rate = len(df_state[df_state['grad_rate_150_p_2013'] >= .65])
n_private = sum(df_state.private)

<ipython-input-35-caed13f84716>:21: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-35-caed13f84716>:28: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

70

In [42]:
df_state.columns

Index(['super_opeid', 'name', 'region', 'state', 'fips', 'cz', 'czname',
       'cfips', 'county', 'zip', 'tier', 'tier_name', 'type', 'iclevel',
       'public', 'barrons', 'exp_instr_pc_2000', 'exp_instr_pc_2013', 'multi',
       'hbcu', 'flagship', 'ipeds_enrollment_2013', 'ipeds_enrollment_2000',
       'sticker_price_2013', 'sticker_price_2000', 'grad_rate_150_p_2013',
       'grad_rate_150_p_2002', 'avgfacsal_2013', 'avgfacsal_2001',
       'sat_avg_2013', 'sat_avg_2001', 'scorecard_netprice_2013',
       'scorecard_rej_rate_2013', 'scorecard_median_earnings_2011',
       'endowment_pc_2000', 'exp_instr_2012', 'exp_instr_2000',
       'asian_or_pacific_share_fall_2000', 'black_share_fall_2000',
       'hisp_share_fall_2000', 'alien_share_fall_2000', 'pct_arthuman_2000',
       'pct_business_2000', 'pct_health_2000', 'pct_multidisci_2000',
       'pct_publicsocial_2000', 'pct_stem_2000', 'pct_socialscience_2000',
       'pct_tradepersonal_2000', 'selective', 'private'],
      dtype='object')

In [67]:
corr_variables = ['tier', 'iclevel', 'grad_rate_150_p_2013', 'avgfacsal_2013','endowment_pc_2000','scorecard_median_earnings_2011',
                  'scorecard_rej_rate_2013', 'selective', 'private']
df_state[corr_variables].corr()

,tier,iclevel,grad_rate_150_p_2013,avgfacsal_2013,endowment_pc_2000,scorecard_median_earnings_2011,scorecard_rej_rate_2013,selective,private
tier,1.000000,0.765873,-0.535216,-0.736783,-0.514302,-0.829647,-0.734562,-0.744372,0.075621
iclevel,0.765873,1.000000,-0.560027,-0.286032,-0.514302,-0.730668,-0.335251,-0.844348,-0.386367
grad_rate_150_p_2013,-0.535216,-0.560027,1.000000,0.308292,0.611773,0.681503,0.632200,0.573427,0.473933
avgfacsal_2013,-0.736783,-0.286032,0.308292,1.000000,0.084026,0.634362,0.623306,0.298661,-0.357698
endowment_pc_2000,-0.514302,-0.514302,0.611773,0.084026,1.000000,0.509759,0.218643,0.514302,NaN
scorecard_median_earnings_2011,-0.829647,-0.730668,0.681503,0.634362,0.509759,1.000000,0.573733,0.721241,0.173778
scorecard_rej_rate_2013,-0.734562,-0.335251,0.632200,0.623306,0.218643,0.573733,1.000000,0.322765,-0.247274
selective,-0.744372,-0.844348,0.573427,0.298661,0.514302,0.721241,0.322765,1.000000,0.298918
private,0.075621,-0.386367,0.473933,-0.357698,NaN,0.173778,-0.247274,0.298918,1.000000

In [43]:
df_state.tier_name.unique()

array(['Four-year for-profit',
       'Two-year (public and private not-for-profit)',
       'Two-year for-profit',
       'Nonselective four-year private not-for-profit',
       'Selective private', 'Other elite schools (public and private)',
       'Selective public', 'Nonselective four-year public',
       'Less than two-year schools of any type',
       'Highly selective private', 'Ivy Plus', 'Highly selective public'],
      dtype=object)

In [63]:
elite = ['Other elite schools (public and private)',
       'Highly selective private', 'Ivy Plus', 'Highly selective public']
df['elite'] = [1 if x in elite else 0 for x in df['tier_name']]
df['elite'].sum()

176

In [61]:
df[df['tier_name'] == 'Selective public']

,super_opeid,name,region,state,fips,cz,czname,cfips,county,zip,...,hisp_share_fall_2000,alien_share_fall_2000,pct_arthuman_2000,pct_business_2000,pct_health_2000,pct_multidisci_2000,pct_publicsocial_2000,pct_stem_2000,pct_socialscience_2000,pct_tradepersonal_2000
4,1345,Adams State University,4,CO,8,34805,Alamosa,8003,Alamosa,81101,...,0.275481,0.002404,10.850440,24.046921,0.000000,33.431084,0.000000,13.489737,18.181818,0.000000
14,1002,Alabama Agricultural & Mechanical University,3,AL,1,6000,Huntsville,1089,Madison,35762,...,0.002740,0.038813,1.284404,20.917431,0.000000,0.000000,4.403670,38.165138,35.229359,0.000000
16,1005,Alabama State University,3,AL,1,11101,Montgomery,1101,Montgomery,36104,...,0.002760,0.002990,3.131115,15.264188,0.195695,2.544031,14.285714,15.851272,48.727982,0.000000
20,1544,Albany State University,3,GA,13,10200,Albany,13095,Dougherty,31705,...,0.003516,0.003516,3.313253,17.168674,22.289156,0.000000,16.265060,6.325301,34.638554,0.000000
25,2396,Alcorn State University,3,MS,28,3203,Vicksburg,28021,Claiborne,39096,...,0.000417,0.009591,1.890756,12.815126,12.184874,18.277311,2.310924,32.352940,20.168066,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2432,2986,Winston-Salem State University,3,NC,37,401,Winston-Salem,37067,Forsyth,27110,...,0.007384,0.000352,1.465202,15.201466,40.293041,12.087912,0.000000,9.157510,21.794872,0.000000
2433,3456,Winthrop University,3,SC,45,900,Charlotte,45091,York,29733,...,0.009464,0.019574,17.815346,26.918076,1.690507,0.000000,5.981794,8.192458,39.401821,0.000000
2443,2190,Worcester State University,1,MA,25,20500,Boston,25027,Worcester,1602,...,0.037645,0.021449,4.584041,17.317488,26.315790,2.037351,0.000000,10.356537,39.388794,0.000000
2446,3078,Wright State University,2,OH,39,12501,Dayton,39057,Greene,45435,...,0.007187,0.010447,7.358814,21.734171,10.496292,0.000000,2.452938,17.569881,39.532230,0.855676
2460,3145,Youngstown State University,2,OH,39,16400,Youngstown,39099,Mahoning,44555,...,0.017327,0.007439,9.700176,19.282776,11.111111,2.763081,10.699589,20.517342,25.808348,0.117578